version: "3.9"

services:
  db:
    image: postgres:18
    restart: always
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - ${ADMINER_PORT}
    depends_on:
      - db

  backend:
    restart: always
    build:
      context: backend
    volumes:
      - ./backend:/app:cached
      - /app/node_modules
    environment:
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - PGHOST=${POSTGRES_HOST}
      - PGDATABASE=${POSTGRES_DB}
      - JWT_SECRET=${BACKEND_JWT_SECRET}
      - JWT_RT_TTL=${BACKEND_JWT_RT_TTL}
    ports:
      - ${BACKEND_PORT}
    depends_on:
      - db

  frontend:
    restart: always
    build:
      context: frontend
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    environment:
      - VITE_API_URL=${FRONTEND_VITE_API_URL}
    ports:
      - ${FRONTEND_PORT}

volumes:
  postgres_data:
